//COLORS
$header-color: rgb(22, 73, 206);
$border-color: rgb(32, 33, 33);
$background-color: rgb(237, 238, 242);
$grey-text: rgb(117, 118, 120);
$grey-background: rgb(245, 246, 247);
$red-text: rgb(204, 14, 0);
$slider-background-color: #ccc;

//SIZE
$border-size: 1px;
$border-radius: 8px;

//SHADOWS  
$main-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
$header-shadow: rgba(0, 0, 0, 0.2) 0px 8px 12px 0px;    